################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Weighted-EB-AFIT/v15
/Weighted-EB-AFIT/bin
/Weighted-EB-AFIT/obj
